{% extends "base.html" %}

{% block title %}Items List{% endblock %}

{% block content %}
<h1>Uploaded Items</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Filename</th>
      <th scope="col">Thumbnail</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.filename }}</td>
      <td>
        {% if item.meta and item.meta.get('thumb') %}
        <img src="/{{ item.meta.get('thumb') }}" width="128" alt="Thumbnail for {{ item.filename }}">
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}